:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
//    justify-content: center;
//    align-items: center;
    height: 95vh;
    width: 95vw;
    max-height: calc(95vw * (9 / 16));
    max-width: calc(95vh * (16 / 9));
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    background-color: transparent;
}

.top-section {
    flex: 1;
    background-color: rgb(236, 155, 155);
}

.bottom-section {
    flex: 8;
    display: flex;
    flex-direction: row;
}

.left-section {
    flex: 3;
    background-color: rgb(238, 235, 178);
}

.right-section {
    flex: 1;
    background-color: rgb(76, 95, 6);
}